.pick{
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: clip;
}

.red .pick button{
    margin-left: 0;
    margin-right: 50px;
    position: absolute;
    right: 0;
}

.blue .pick button{
    margin-left: 50px;
    position: relative;
}

.pick button{
    background: transparent;
    padding: 0rem;
    border: 0px solid #151515;
    transition: all 400ms ease;
    height: 90px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    z-index: 1;
}

.pick img{
    border-radius: 50%;
}

.pick img:hover {
    border: 1px solid gray;
}

.pick_bg{
    background-position: center 20%;
    background-size: 100% 200%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
}

.pick_video{
    object-fit: cover;
    offset-position: center center;
    height: 100%;
    width: 150%;
    transform-origin: center center;
    position: absolute;
    z-index: 0;
}

.pick_video_red{
    transform: translateX(-4%) rotateY(0deg);
}

.pick_video_blue{
    transform: translateX(4%) rotateY(180deg);
}

.box_selected_blue{
    background: linear-gradient(90deg,#2F89B1 0%,#2F89B1 6%, rgba(147, 255, 255, 0.1) 5%, rgba(3, 151, 171, 0.3) 50%, rgba(47, 137, 177, 0) 100%);
    
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

.box_selected_red{
    background: linear-gradient(270deg,#A83131 0%,#A83131 6%, rgba(255, 149, 149, 0.05) 5%, rgba(201, 95, 95, 0.3) 50%, rgba(171, 67, 67, 0.1) 100%);

    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.pick .selected::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-position: bottom left;
    background-image: url("data:image/svg+xml,%3Csvg width='94' height='45' viewBox='0 0 96 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_632_15)'%3E%3Cpath d='M91.0526 22.2233C85.4171 29.2719 77.9791 34.6638 69.5273 37.8273C61.0755 40.9908 51.9251 41.8078 43.0466 40.1918C34.168 38.5758 25.8923 34.587 19.0972 28.6485C12.3021 22.7099 7.24091 15.043 4.45041 6.46082L9.26703 4.89469C11.7749 12.6075 16.3234 19.4978 22.4302 24.8348C28.5369 30.1718 35.9743 33.7566 43.9535 35.2089C51.9327 36.6612 60.1562 35.9269 67.7518 33.0838C75.3475 30.2408 82.0321 25.3951 87.0967 19.0605L91.0526 22.2233Z' fill='url(%23paint0_linear_632_15)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_632_15' x='0.450195' y='0.894653' width='94.6025' height='44.1053' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='2' result='effect1_foregroundBlur_632_15'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_632_15' x1='15.5714' y1='-59' x2='102' y2='-59' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EAF9F7'/%3E%3Cstop offset='1' stop-color='%2347FFE8' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: -6px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    animation-fill-mode: both;
    left: -5px;
}

